@import '../../../styles/globals.scss';

.featureHero {
  display: flex;

  @media (max-width: 768px) {
    margin-bottom: 2.5rem;
  }

  &_sectionContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  &_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

    @media (max-width: 768px) {
      margin-bottom: 1.5rem;
    }
  
  }

    &_title {
      font-size: 4.5rem;
      line-height: 78px;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }

    &_text {
      margin-bottom: 10px;
      font-size: 1rem;
      line-height: 22px;
      font-weight: 400;
      color: #c2c3c5;
      font-family: 'Inter', sans-serif;
    }

    &_button {
      margin-left: 0;
    }

    @media (max-width: 768px) {
      &_title {
        font-size: 4rem;
        line-height: 78px;
      }
  
      &_button {
        margin-top: 2.5rem;
      }
    }
  

  // TODO: make responsive
    &_image {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
    }
  

  @media (max-width: 768px) {
    padding-top: 60px;
  }

  @media (min-width: 769px) {
    padding-top: 140px;
    padding-bottom: 120px;
  }
}
