@import '../../../styles/globals.scss';

.hero {
  display: flex;

  @media (max-width: 768px) {
    margin-bottom: 2.5rem;
  }

  &_sectionContainer {
    display: flex;
    height: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 1.5rem;
    }

    @media (min-width: 769px) {
      width: 50%;
    }
  }

  &Left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    &_title {
      font-size: 3.5rem;
      line-height: 4.5rem;
    }

    &_text {
      margin: 12px 0 10px;
      font-size: 1rem;
      line-height: 22px;
      font-weight: 400;
      color: #c2c3c5;
      font-family: 'Inter', sans-serif;
      ul {
        margin-left: 24px;
        line-height: 2;
        font-size: 18px;
      }
    }

    &_button {
      margin-left: 0;
    }

    @media (max-width: 768px) {
      &_title {
        font-size: 3.5rem;
        line-height: 4rem;
      }

      &_button {
        margin-top: 2.5rem;
      }
    }

    @media (min-width: 769px) {
      padding-right: 8.333%;

      &_button {
        margin-top: 1rem;
      }
    }
  }

  // TODO: make responsive
  &Right {
    &_image {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    padding-top: 80px;
  }

  @media (min-width: 769px) {
    padding-top: 180px;
  }
}
