@import '../../styles/globals.scss';

.quoteForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  &_select {
    &_title {
      color: white !important;
    }
  }
  &_container {
    width: 100%;
  }
  &_stepper {
    width: 100%;
    background-color: #151720 !important;    
  }
  
  &_spinner {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1.5s linear infinite;
    margin-bottom: 30px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &_title {
    width: 100%;
    margin-bottom: 32px;
    line-height: 2.625rem;
    font-weight: 400;
    font-size: 2.1rem;
    font-family: 'Space Grotesk', sans-serif;
  }

  &_loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 240px;
    width: 100%;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
  }

  &_messageContainer {
    margin: 12px 0;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;

    &__success {
      color: $color-1;
    }

    &__failure {
      color: rgb(221, 54, 54);
    }
  }

  &_fieldContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  &FieldGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 576px) {
      flex-direction: column;
    }

    @media (min-width: 577px) {
      &_item:first-of-type {
        margin-right: 1.5rem;
      }
    }
  }

  &_buttonContainer {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
  }

  &_submit {
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 1.375rem;
    margin: 0;
    background-color: $green;
    border: 2px solid $lightgreen;
    max-width: 230px;
    &:hover {
      transform: scale(1.1);
      background-color: $green;
      border: 2px solid $lightgreen;
      color: white;
    }
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
    span {
      margin-right: 8px;
    }
  }
  &_text {
    padding: 1rem 0 3rem;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
  }
  &_license {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
    &Field {
      width: 60%;
      margin-right: 1rem;
      @media (max-width: 576px) {
        width: 90%;
      }
    }
  }
  &_summary {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    &Row {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      font-family: 'Space Grotesk', sans-serif;
      justify-content: space-between;
      margin: 15px 0;
      &_title {
        font-size: 1.15rem;
        color: #fff;
      }
      &_value {
        font-size: 1.1rem;
      }
      &_discountGroup {
        margin-top: 20px 0;
      }
      &_discountOptions {
        margin: 10px 0;
        padding-left: 20px;
        svg {
          color: white;
        }
      }
      &_basePrice {
        color: $green;
      }
      &_discountPrice {
        color: $red;
      }
    }
  }
  &_viewQuote {
    max-width: 300px;
    align-self: center;
    margin: 0 auto;
    margin-bottom: 16px;
  }
  &_submitLink {
    color: inherit;
    text-decoration: none;
  }
  &_reactMultiEmail {
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
    padding: 0.625rem 1rem !important;
    font-size: 1rem !important;
    border: 3px solid transparent !important;
    border-radius: 0.25rem !important;
    font-family: 'Space Grotesk', sans-serif;
    color: #ffffff !important;
    background-color: #20222b !important;
    caret-color: #ffffff !important;
    transition: 0.5s all;
    outline: none;
    &:focus,
    &:hover {
      border: 3px solid #303fe1 !important;
    }
    &:focus {
      background-color: #151720 !important;
    }
    input {
      background-color: transparent;
      color: #ffffff !important;
      background-color: #20222b !important;
      caret-color: #ffffff !important;
    }
    span[data-placeholder] {
      color: rgba(255, 255, 255, 0.3) !important;
    }
  }
  &_label {
    margin-bottom: 0.25rem;
    line-height: 1.375rem;
    font-size: 1rem;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
  }
  &_submitButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    a {
      margin: 0 30px;
      width: 200px;
    }
  }
  &_link {
    text-decoration: underline;
    cursor: pointer;
  }
}
