@import '../../../styles/globals.scss';

.pricing {
  padding: 48px 0;
  margin-bottom: 30px;

  margin-top: 100px;
  &_title {
    font-size: 2.7rem;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &_userSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 3.5rem;
  }
  &_subtitle {
    width: 100%;
    text-align: center;
  }

  &_emoji {
    font-size: 24px;
  }

  &_planContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &Plan {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0 12px;
    padding: 24px 0;
    border-radius: 1rem;
    background-color: #151720;

    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
    &QuoteButton {
      display: flex;
      margin-bottom: 14px;
    }

    &__popular {
      // padding: 48px 0;
      background: rgba(10, 10, 50, 0.7);
      border: 2px solid $color-3;

      &::before {
        content: 'POPULAR';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 4px 10px;
        font-size: 0.875rem;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        color: $color-1;
        background-color: $color-3;
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 700;
      }
    }

    &_title {
      margin-bottom: 24px;
      font-size: 24px;
      line-height: 34px;
      font-weight: 500;
      font-family: 'Space Grotesk', sans-serif;
      text-align: center;
      text-decoration: none;
      text-transform: capitalize;
    }

    &Payment {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Inter', sans-serif;

      &_price {
        position: relative;
        margin-left: 2px;
        font-family: 'Space Grotesk', sans-serif;
      }

      &_currency {
        position: absolute;
        top: 2px;
        left: -12px;
        font-size: 1.125rem;
        line-height: 18px;
        font-weight: 500;
        color: #5b5d63;
      }

      &_amount {
        font-size: 2.1rem;
        font-weight: 500;
      }

      &_frequency {
        font-size: 0.75rem;
        line-height: 18px;
        font-weight: 500;
        color: #5b5d63;
        text-align: center;
      }
    }

    &_featureContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 32px 0;
      list-style-type: none;
    }

    &Feature {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 12px 2px;
      font-size: 1rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.08);
      font-family: 'Space Grotesk', sans-serif;
      font-weight: 400;

      &_icon {
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
      }

      &:last-of-type {
        border-bottom: none;
      }

      &__unavailable {
        opacity: 0.3;
      }
    }
  }
}
