@import "../../../styles/globals.scss";

.getStarted {
  display: flex;
  background-color: $color-3;
  color: $color-1;
  font-family: 'Space Grotesk', sans-serif;

  @media (max-width: 768px) {
    margin-bottom: 2.5rem;
  }

  &_sectionContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 50px 0;
  }
  &_title {
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 3rem;
  }
  &_videos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &_video {
    &Wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1.5rem;
      iframe {
        max-width: 100%;
      }
    }
    &Title {
      margin-top: 1.5rem;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}
