@import '../../../styles/globals.scss';

.testimonials {
  padding: 48px 0;

  &_title {
    margin-bottom: 48px;
    font-size: 2.7rem;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
  }

  &_testimonialContainer {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    @media (max-width: 769px) {
      margin: 0 24px;
      margin-right: -16px;
    }
  }

  // TODO: make responsive
  &Testimonial {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: calc(100% - 32px);
    margin: 24px 10px;
    padding: 40px 32px 96px;
    border-radius: 32px 32px 50px 50px;
    background-color: $color-4;
    font-family: 'Space Grotesk', sans-serif;

    @media (max-width: 576px) {
      min-width: calc(100% - 32px);
    }

    @media (min-width: 577px) and (max-width: 768px) {
      min-width: calc(50% - 32px);
    }

    @media (min-width: 769px) {
      min-width: calc(100% / 3 - 22px);
      max-width: calc(33% - 29px);
    }

    &_description {
      padding-bottom: 10px;
      font-size: 1rem;
      line-height: 22px;
      font-weight: 400;
      font-family: Inter, sans-serif;
      color: #c2c3c5;
    }

    &Customer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: stretch;
      padding: 12px 16px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 50px;
      background-color: $color-5;
      margin-top: auto;

      &_avatar {
        width: 64px;
        height: 64px;
        margin-right: 16px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
      }
    }
  }

  &_controlContainer {
    display: flex;
    align-items: center;
    height: 24px;
    margin-top: 48px;

    @media (max-width: 768px) {
      justify-content: center;
    }

    @media (min-width: 769px) {
      justify-content: flex-end;
    }
  }

  &Control {
    margin-left: 1rem;
    border: none;
    background-color: transparent;
    opacity: 0.3;
    transition: 0.3s opacity;
    cursor: pointer;
    outline: none;

    &:hover {
      opacity: 1;
    }
  }
}
