@import "../../../styles/globals.scss";

.jobListItem {
  border-radius: 4px;
  width: 100%;
  display: flex;
  background-color: $color-6;
  padding: 40px 30px;
  border-radius: 5px;
  font-family: 'Space Grotesk', sans-serif;
  margin: 0 auto 3rem;
  transition: all 100ms ease-in;
  text-decoration: none;
  color: $color-1;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: $color-3;

  }
  &_sectionContainer {
    display: flex;
    height: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

    @media (max-width: 768px) {
      margin-bottom: 1.5rem;
    }
  }

  &_title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  &_desc{
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
  &_location {
    font-size: 1rem;
    line-height: 22px;
    font-weight: 400;
    color: #c2c3c5;
    font-family: "Inter", sans-serif;
    margin: 0;
  }
}
