@import '../../styles/globals.scss';

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  padding: 40px;
  border: none;
  border-radius: 1rem;
  background-color: $color-4;
  min-width: 320px;
  margin: 0 auto;
  max-width: 670px;
  width: 100%;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}
