* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html {
  box-sizing: content-box;
}

body {
  letter-spacing: normal !important;
  line-height: unset !important;
}

.chatlio-online-dot {
  box-sizing: content-box !important;
}
.MuiSvgIcon-root {
  color: white;
}
.MuiOutlinedInput-notchedOutline {
  border-color: white;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-left-radius: 0px;
  border-bottom-width: 1px;
  border-bottom-right-radius: 0px;
}
.MuiOutlinedInput-notchedOutline {
  border: none;
}
.MuiOutlinedInput-notchedOutline:hover {
  border: 3px solid #303fe1;
}
.MuiSelect-select {
  background-color: #20222b;  
  border: 3px solid transparent;
  transition: 0.5s all;
  padding: 10px 20px;
}
.MuiSelect-select:hover {  
  border: 3px solid #303fe1;
}

.MuiSelect-root:hover {
  border-color: white !important;
}
.MuiPaper-root {
  background-color: #424242;
  color: white !important;
}
.MuiButtonBase-root.MuiMenuItem-root:hover {
  background-color: (255, 255, 255, 0.08) !important;
}