* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html {
    box-sizing: content-box;
}

body {
    letter-spacing: normal !important;
}

.chatlio-online-dot {
    box-sizing: content-box !important;
}